<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>관리자 시험 점수 관리 페이지</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <nav>
        <a href="/admin_score">학생 점수</a>
        <a href="/admin_attendance">출석 등록</a>
        <a href="/upload">시험 파일 업로드</a>   
      </nav>
  <h1> 관리자용 페이지</h1>
  <h2> 학생 시험 점수 관리 </h2> 
  <div id="list"></div>
  <div>
    <form id="form">
      <label>이름</label>
      <input type="text" id="name"><br>
      <label>시험 점수</label>
      <input type="text" id="score">
      <button type="submit">등록</button>
    </form>
  </div>
  <p> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./ad_score.js"></script>
</body>
</html>