<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>File Upload</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <nav>
    <a href="/student_score">학생 점수</a>
    <a href="/student_attendance">출석 등록</a>
    <a href="/upload">시험 파일 업로드</a>   
  </nav>
  
  <h2> 시험 파일 업로드 </h2> 
  <div>
    <form id="form" action='/upload' method='post' enctype='multipart/form-data'>
      <label>전송할 파일</label>
      <input type="file" name="image"><br>
      <label>파일 이름</label>
      <input type="text" name="title"><p>
      <button type="submit">Upload</button>
    </form>
  </div>
</body>
</html>