* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
  }
  
  /* navbar */
  .navbar{
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar #logo{
    line-height: 60px;
  }
  .navbar #logo img{
    vertical-align: middle;
  }
  #menu{
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
  }
  #menu li{
    float: left;
    margin-left: 50px;
    line-height: 60px;
  }
  #menu li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  /* hero header */
  .header{
    margin-left: 15%;
    height: 600px;
    background-image: url('../images/hero_header.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center center; */
  }
  /* products */
  .products{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
  }
  .products h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .products img{
    width: 225px;
    height: 225px;
    margin-bottom: 20px;
  }
  .item{
    float: left;
    width: 225px;
    margin-right: 20px;
    margin-bottom: 80px;
  }
  .item p{
    margin: 0;
    margin-bottom: 4px;
    text-align: center;
    font-size: 16px;
  }
  .about{
      padding-top: 30px;
      font-size: 20px;
      text-align: center;
  }
/* footer */
.wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 60px;
}
footer{
  height: 60px;
  position: relative;
text-align: center;
color: black;
  margin-top: -60px;
}
footer img{
  margin: 10px;
}
/* --------------------------------------------------------------------- */
.input-group{
    margin-left: 50px;
    text-align: center;
}
.twits{
    margin-left: 32%;
    text-align: center;
}
.shop_list{
    width: 700px;
}
input{
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 15px;
}
#twit-btn{
    font-size: 15px;
}
.about{
margin-left: 15%;
height: 800px;
background-image: url('../images/about.jpg');
background-repeat: no-repeat;
/* background-size: cover; */
/* background-position: center center; */
}
.about h2{
    margin-top: 180px;
    margin-left: 60px;
}
.about p{
margin-left: 60px;
}