{% extends 'layout.html' %}

{% block content %}
<form id="twit-form" action="/thing" method="post">
    <div class="input-group">
      <input type="text" name="name" class="text-field" placeholder="이름">
      <input type="text" name="price" class="text-field" placeholder="가격">
      <input type="text" name="stock" class="text-field" placeholder="재고 상황">
      <button id="twit-btn" type="submit" class="btn">등록</button>
    </div>
    <br><br>
</form>
<div class="twits">
    <table border="1" class="shop_list">
        <th>번호</th>
        <th>이름</th>
        <th>판매자</th>
        <th>가격</th>
        <th>재고상황</th>
        {% for twit in twits %}
        <tr>
            <td>{{twit.id}}</td>
            <td>{{twit.name}}</td>
            <td>{{twit.User.name}}</td>
            <td>{{twit.price}}</td>
            <td>{{twit.stock}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br><br>
    <table border="1" class="shop_list">
        <form action="/delete_goods" method="post">
            <td><input type="text" name="thing_num" class="text-field" placeholder="물건번호">
                <button id="twit-btn" type="submit" class="btn">삭제</button></td>
        </form>
    </table>
    <br><br><br>
    <table border="1" class="shop_list">
        <form action="/edit_goods" method="post">
            <td><input type="text" name="thing_num" class="text-field" placeholder="물건번호">
                <input type="text" name="name" class="text-field" placeholder="이름">
                <input type="text" name="price" class="text-field" placeholder="가격">
                <input type="text" name="stock" class="text-field" placeholder="재고 상황">
                <button id="twit-btn" type="submit" class="btn">수정</button></td>
        </form>
    </table>
</div>
{% endblock %}
