<!DOCTYPE html>
<html>
  <head>
    <title>SimpleShop</title>
    <meta charset="utf-8" />
    <link href="../stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="navbar">
      <a id='logo'href="/main">
        <img src="../images/logo.png.webp" width="149px">
        </a>
      <ul id='menu'>
        <li><a href="aboutUs">aboutUs</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="info">Info</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="auth/logout">Logout</a></li>
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    <!-- <footer>
        <p>Copyright © Myongji University All rights reserved.</p>
        <address>Contact webmaster for more information. 010-1234-5678</address>
    </footer> -->
  </body>
</html>
